html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: Segoe UI;
}

.rotate {
  animation: clrotation 4.2s infinite linear;
}
.rotate2 {
  animation: coclrotation 4.2s infinite linear;
}

@keyframes clrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes coclrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

article {
  font-size: 1.19em
}
.container {
  display: flex;
  align-items: center;
  justify-content: left
}

img {
  max-width:100%
}

.image {
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 10px
}

.headtext {
  font-family: Segoe UI;
  font-size: 25px;
  padding-left: 40px;
}
.nonheadtext {
  font-family: Segoe UI;
  padding-left: 192px;
  padding-right: 192px
}
.quote {
  font-size: 1.5em
}
a:link {
  color: #696969;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #696969;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #696969;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #696969;
  background-color: transparent;
  text-decoration: none;
}

.cont2 {
  display: flex;
  align-items: left;
  justify-content: left
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #272522;
  color: #696969;
  text-align: left;
}
.img2 {
  padding-top: 15px
}
.foottext {
  font-family: Segoe UI;
  font-size: 10.53px;
  padding-left: 40px;
  line-height: 60%
}

* {box-sizing: border-box}
.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: pauto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 100%;
  width: auto;
  padding: 15px;
  margin-top: -12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 1px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 18px 12px;
  position: relative;
  bottom: 21px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 12px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

iframe {
  display: block;
}

#algebra {
  align-items: center;
  display: block;
  position: relative;
  margin: auto;
  padding: 20px;
  font-size: 2em;
  font-weight: bold
}

#src {
  font-size: 0.75em
}
