html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.rotate {
  animation: clrotation 4.2s infinite linear;
}
.rotate2 {
  animation: coclrotation 4.2s infinite linear;
}

@keyframes clrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes coclrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

article {
  font-size: 1.19em
}
.container {
  display: flex;
  align-items: center;
  justify-content: left
}

img {
  max-width:100%
}

.image {
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 10px
}

.headtext {
  font-family: Segoe UI;
  font-size: 25px;
  padding-left: 40px;
}
.nonheadtext {
  font-family: Segoe UI;
  padding-left: 192px;
  padding-right: 192px
}
.quote {
  font-size: 1.5em
}
a:link {
  color: #696969;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #696969;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #696969;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #696969;
  background-color: transparent;
  text-decoration: none;
}

.cont2 {
  display: flex;
  align-items: left;
  justify-content: left
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #272522;
  color: #696969;
  text-align: left;
}
.img2 {
  padding-top: 15px
}
.foottext {
  font-family: Segoe UI;
  font-size: 10.53px;
  padding-left: 40px;
  line-height: 60%
}

